
body{
    font-family: 'Orbitron', sans-serif;
}
ul{
   list-style-type: none;
}
li a{
   margin: 1em -13em;
    left: 23px;
   float: left;
   font-size: 17px;
   padding: 1em 13.7em;
   text-decoration: none;
   color: rgb(246, 240, 240);
   transition: 1s;
}
li a:hover{
    transform: scale(1.1);    
}
.main{
   position: absolute;
    top: 15%;
    width: 30%;
    height: 70%;
   right: 35%;
    color: blue;
    padding: 1px;   
        background-color: rgb(206, 130, 30); 
        background: linear-gradient(50deg, rgb(48, 47, 47) 0%, rgb(23, 22, 23)35%, rgb(67, 66, 65) 100%);
        opacity: 0.9;
        border: 1px solid rgb(121, 15, 214);  
        box-shadow: 0 0 5px rgb(227, 230, 230);
        border-radius: 10px;
}
.shiva{
    margin: 8em 1em;
    color: rgb(236, 236, 230);  
}
input[type=password], input[type=email]{   
margin: 15px 0 22px 0;
width: 100%;
  padding: 10px 30px;
   border-radius: 10px;
   background-color: aqua;
   background: linear-gradient(50deg, rgb(90, 68, 92) 0%, rgb(138, 97, 130) 35%, rgb(95, 51, 83) 100%);
   color: white;
   box-shadow: 0 0 5px rgb(227, 230, 230);
   font-size: 20px;
   box-sizing: border-box;  
   transition: 1s; 
} 
 input[type=password]:hover{
    cursor: pointer;
    transform: scale(1.1);
}
input[type=email]:hover{
    cursor: pointer;
    transform: scale(1.1);
}
button{
    margin: 2em 0.1em;
    padding: 10px 10px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(41, 51, 51);
    color: white;
    background: linear-gradient(50deg, rgb(81, 78, 82) 0%, rgb(206, 200, 199)5%, rgb(75, 65, 72) 100%);
    box-shadow: 0 0 5px rgb(227, 230, 230);
    transition: 1s;
    font-family: 'Orbitron', sans-serif;
}
button:hover{
   cursor: pointer;
   transform: scale(0.8);
}
.hi{
    border: 10px solid burlywood;
    background-image: url(ram.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
}
@media (max-width: 600px) {

.main{
    width: 70%;
    height: 60%;
    margin: 0em -5em;

}

}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main{
        margin: 0em -10em;
        width: 70%;
        height: 50%;
      
 }

}